# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
*.vs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

psiturkit/*_turk
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Effort-Task-3/v16/.suo
.vs/Effort-Task-3/v16/.suo
*.sqlite
.vs/Effort-Task-3/v16/.suo
*.json
*.sqlite
package-lock.json
.vs
.vscode
