p, li {
  font-size: 1.5rem;
}

.nocursor {
  cursor: none;
}

html, body, #root, .App {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  min-height: 100vh;
  height: 100% !important;
  width: 100vw !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center !important;
}

.photodiode-box {
  position: fixed;
  bottom: 3px;
  right: 3px;
  display: flex;
  outline: 3px solid rgb(80,80,80);
  margin: auto;
  height: 50px;
  width: 50px;
}

.photodiode-spot {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: visible;
}


.main-prompt, .effort-container {
  height: 100vh;
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center !important;
}

.main-prompt {
  margin-bottom: -20%;
}

.quiz_container {
  padding-top: 5rem;
}
.quiz_container > div >.effort-container {
    height: 25rem !important;
}
.jspsych-survey-multi-choice-question {
  padding-left: 8rem;
}

.image {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-blue {
  color: #00FFFF;
}

.text-green {
  color: #7FFF00;
}

.color-green {
  background-color: #7FFF00;
}

.color-blue {
  background-color: #00FFFF;
}


.color-white {
  background-color: white;
}

#fixation-dot {
  position: absolute;
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: auto;
}

.instructions {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-large {
  font-size: 24pt;
}

.text-smoll {
  font-size: 12pt;
}

.earnings h1 {
  font-size: 3rem;
  font-weight: bold;
}

.jspsych-btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #d3d3d3;
  margin: 1rem;
  width: 10rem !important;
}
